<div class="col s12 m3">
      <!---->
      <div class="card">
        <div class="card-image">
          <img src="/images/{{category_id}}.jpg">
          <span class="card-title">{{title}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="userProfile/put/{{id}}"><i class="material-icons">arrow_upward</i></a>
        </div>
        <div class="card-content">
          <p class="truncate">{{description}}</p>
            <button type="click" class="btn red accent-2 waves-effect grey-text text-lighten-3"><a href="userProfile/put/{{id}}">Edit post</a></button>
        </div>
      </div>
      <!---->
</div>
